.menuContainer{
	width: 60px;
	height: 60px;
	display: block;
	background: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

}

.menuButton{
	margin: 20px;
}

.menuButton span{
	font-size: 35px;
	color:  #ff1100;
	background: none;
}

.menuContainer:hover > .selectAble{
	display: block;
}

.menuContainer:hover{
	height: 100%;
}

.selectAble{
	position: absolute;
	top: 70px;
	border: none;
	display: none;
	background: rgba(44, 62, 80,.7);
	padding: 20px;
	margin-left: 0;
	height: 100%;
	width: 200px;
}