.App {
  text-align: center;
}

.cardContainer{
  display: grid;
  position: absolute;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  right: 0px;
  left: 200px;
  margin: 20px auto;
  width: 70%;
}



@media screen and (max-width:  2520px){
  .cardContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width:  2409px){
  .cardContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width:  1978px){
  .cardContainer{
    left: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width:  1706px){
  .cardContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    left: 300px;
    right: 40px;
  }
}

1529

@media screen and (max-width:  1529px){
   .cardContainer{
      grid-template-columns: 1fr 1fr 1fr;
      left: 300px;
      right: 40px;
    }
}

@media screen and (max-width: 1347px){
    .cardContainer{
      grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:  751px){
  .cardContainer{
    grid-template-columns: 1fr;
    width: 100%;
    margin: 20px auto;

  }
}