.App {
  text-align: center;
}

.cardContainer{
  display: grid;
  position: absolute;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  right: 0px;
  left: 400px;
  margin: 20px auto;
  width: 80%;
}



@media screen and (max-width:  2520px){
  .cardContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width:  2409px){
  .cardContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width:  1978px){
  .cardContainer{
    left: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width:  1706px){
  .cardContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    left: 350px;
  }
}


@media screen and (max-width:  1529px){
   .cardContainer{
      grid-template-columns: 1fr 1fr 1fr;
      left: 300px;
    }
}

@media screen and (max-width: 1173px){
    .cardContainer{
      grid-template-columns: 1fr 1fr;
      top: 50px;
      left: 360px;
    }
}

@media screen and (max-width: 885px){
    .cardContainer{
      left: 300px;
    }
}

@media screen and (max-width:  818px){
  .cardContainer{
    grid-template-columns: 1fr;
    width: 100%;
    left: 0;
    margin: 50px auto;

  }
}