@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.cardContainers{
	background-color: white;
	box-sizing: border-box;
	width: 210px;
	height: 360px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px 0px rgba(1,0,0,.8);
	margin: 20px auto;

}

.cardContainers img{
	width: 150px;
	height: 150px;

}

.nomePreco{
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	padding: 5px;
}

.descricao{
	display: block;
	margin-top: 10px;
	padding: 10px;
	font-size: 24px;
	color: #95a5a6;
	font-family:'Montserrat', sans-serif;
}

.cardLink:hover{
	color: #ff1100;
}


@media screen and (max-width:  2840px){
	.cardContainers{
		width: 360px;
		height: 510px;
		margin: 20px auto;
	}

	.cardContainers img{
		width: 250px;
		height: 250px;

	}

	.nomePreco{
		font-size: 30px;
	}

	.descricao{
		font-size: 34px;
	}
  
}

@media screen and (max-width:  1706px){
		.cardContainers{
			width: 260px;
			height: 410px;
			margin: 20px auto;
		}

		.cardContainers img{
			width: 150px;
			height: 150px;

		}

		.nomePreco{
			font-size: 25px;
		}

		.descricao{
			font-size: 29px;
		}
  
}


@media screen and (max-width:  800px){
  	.cardContainers{
		width: 300px;
		height: 490px;
		margin: 20px auto;
	}

	.cardContainers img{
		width: 230px;
		height: 230px;

	}

	.nomePreco{
		font-size: 26px;
	}

	.descricao{
		font-size: 30px;
	}
}

