@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.link{
  color: white;
}
.carContainer{
  display: grid;
  position: absolute;
  grid-template-columns:  1fr;
  top: 20px;
  left: 310px;
  width: 75%; 
  padding: 0 20px 0 0px;
  text-align: right;
  font-family: Montserrat, sans-serif ;
  box-sizing: border-box;
}

.endShop{
  position: relative;
  display: block;
  color: white;
  width: 250px;
  height: 50px;
  margin: 70px auto;
  font-family: Montserrat, sans-serif ;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background: #3498db;
  border: none;
  box-shadow: 2px 2px 5px 1px rgba(1,0,0,1);
}

.endShop:active{
  transform: scale(0.95);
}

.emptyCar{

  display: block;
  position: absolute;
  grid-template-columns:  1fr;
  top: 20px;
  left: 310px;
  width: 75%; 
  padding: 0 20px 0 0px;
  text-align: center;
  font-family: Montserrat, sans-serif ;
  box-sizing: border-box;

}

@media screen and (min-width:  1564px){
  .carContainer{
    left: 370px;
  }
}

@media screen and (min-width:  1706px){
  .carContainer{
    left: 410px;
  }
}



@media screen and (max-width:  480px){
  .carContainer{
    width: 100%; 
    padding: 0px 0px; 
  }
}

@media screen and (max-width:  818px){
  .carContainer{
    box-sizing: border-box;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    
    width: 100%;
    padding: 90px 1px; 
  }

  .emptyCar{
    position: absolute;
    left: 0;
    padding-top: 100px;
    width: 100%;
  }
  .endShop{
    display: block;
    margin: 60px auto;
  }
}