@import url('https://fonts.googleapis.com/css?family=Montserrat:600');


.headerContainer{
	top: 0;
	left: 0;
	right: 0;
	background-color: #3498db;
	display: flex;
	position: fixed;
	height: 70px;
	z-index: 1;	
}

#check{
	display: none;
}

.dataItem a{
	color: black;
	margin: 0;
	
}

.options{
	width: 100%;
	height: 70%;
	background: white;
	margin: 2px auto;
	text-align: left;
	border-top: black solid 1px;
	font-family: Montserrat,  sans-serif;
	color: black;
  opacity: 0.5;
  visibility: hidden;
  overflow: hidden;
  overflow-y: scroll;

}

.options::-webkit-scrollbar{
	width: 10px;
  height: 100%;
  background-color: #aaa;
}

.options::-webkit-scrollbar-thumb{
	width: 10px;
  height: 30%;
  background-color: black;
}


.inputBox{
	position: absolute;
	box-sizing: border-box;
	display: block;
	background: none;
	margin-top: 10px;
	width: 0px;
	height: 0px;
	
}

.searchBox{
	background: none;
	position: absolute;
	right: 10px;
	width: 450px;
	display: flex;
	height: 70px;
}

.carButton{
	position: absolute;
	right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;	
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #ecf0f1 ;
	background: #3498db;
	font-size: 30px;

}

#check:checked ~ .searchBox .headerSearchInput{
	width: 100%;
	background: white;
}

#check:checked ~ .searchBox .inputBox{
	background: white;
	padding: 0px 20px 20px 20px;
	border-radius: 10px 10px;
	box-shadow: 0px 4px 8px 0px rgba(1,0,0,.8); 
	width: 75%;
	height: 40px;
	margin-right : 10px;
}


#check:checked ~ .searchBox .searchButton{
	background: #ecf0f1;
	color: #3498db;
}

.searchButton label:hover{
	cursor: pointer;
}

.headerSearchInput::placeholder {
  color: black;
  opacity: 0.5; 
}

.headerSearchInput{
	margin: 5px auto;
	width: 0px;
	height: 30px;
	background: none;
	border: none;
	outline: none;
	color:  black;
	padding-left: 0px;
	font-size: 16px;
	font-family: Montserrat,  sans-serif;
	transition: 0.4s;
	line-height: 40px;
}

.webTitle{
	margin-left: 50px;
	font-size: 30px;
	margin: 20px;
	font-family: Montserrat,  sans-serif;
	color: white;
}

.searchButton{
	position: absolute;
	right: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: #ecf0f1;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #bdc3c7;
	display: flex;
	justify-content: center;
	align-items: center;
}


@media screen and (max-width:  818px){

	.inputBox{
		position: absolute;
		box-sizing: border-box;
		display: block;
		margin-top: 10px;
		background: white;
		padding: 0px 20px 20px 20px;
		border-radius: 10px 10px;
		box-shadow: 0px 4px 8px 0px rgba(1,0,0,.8); 
		width: 80%;
		height: 40px;
		margin-right : 10px;
		
	}

	.headerContainer{
		height: 140px;
		display: block;
		margin: 0 auto;
	}
 
 .searchBox{
		background: none;
		position: absolute;
		width: 90%;
		display: flex;
		height: 70px;
		margin: 0 auto;
	}

	.searchButton{
		background: #ecf0f1;
		color: #3498db;
		right: 10px;
		margin-left: 2px;
	}

	.headerSearchInput{

		width: 100%;
		border-radius: 0;
		background: none;
		height: 30px;
		color:  black;
		padding-left: 10px;
		font-size: 16px;
		line-height: 40px;
		margin-right: 0;
		margin-left: 0;

	}

	#check:checked ~ .searchBox .inputBox{
		width: 80%;
	}

	#check:checked ~ .searchBox .headerSearchInput{
		width: 100%;
		border-radius: 0;
		outline: none;
	}


	#check:checked ~ .searchBox .searchButton{
		background: #ecf0f1;
		color: #3498db;
	}

	.webTitle{
		font-size: 25px;
		margin-left: 20px;
		color: white;
	}

	.carButton{
		position: absolute;
		right: 20px;
		top: 5px;
		margin-top: 10px;
		margin-bottom: 10px;
		color: #ecf0f1 ;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #3498db;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;

	}
}